<header id="header" class="parent justify-spaceBetween">
  <div class="inner w100 relative">
    <span class="f-left">  
      {% assign current_lang = page.lang | default: site.lang %}
      <a href="{% if current_lang == 'zh-CN' %}/zh/{% else %}/{% endif %}">
        <h2>
          <span>MSRA</span> {% if current_lang == 'zh-CN' %}上海 AI/ML 组{% else %}Shanghai AI/ML{% endif %}
        </h2>
      </a>
    </span>
    <span id="nav-links" class="absolute right bottom">
      {% include navigation.html %}
      
      <!-- Nav links -->
	    {% include link.html %}

    </span>
  </div>
</header>



