<div class="tabcontent" style="display:block">
  <ul style="padding-left:10px">
    <li><a href="https://arxiv.org/abs/2604.08133">Alloc-MoE: Budget-Aware Expert Activation Allocation for Efficient Mixture-of-Experts Inference</a>
      <br>Baihui Liu, Kaiyuan Tian, Wei Wang, Zhaoning Zhang, Linbo Qiao, Dongsheng Li.
      <br>The 64th Annual Meeting of the Association for Computational Linguistics <a>(ACL)</a>. 2026
    </li>
    <li><a href="https://arxiv.org/abs/2604.07808">GRASS: Gradient-based Adaptive Layer-wise Importance Sampling for Memory-efficient Large Language Model Fine-tuning</a>
      <br>Kaiyuan Tian, Yu Tang, Gongqingjian Jiang, Baihui Liu, Yifu Gao, Xialin Su, Linbo Qiao, Dongsheng Li.
      <br>Findings of the 64th Annual Meeting of the Association for Computational Linguistics <a>(ACL Findings)</a>. 2026
    </li>
  </ul>
</div>