<div class="tabcontent" style="display:block">
  <ul style="padding-left:10px">
    <li><a href="https://openreview.net/forum?id=tLW4Tc7Zn9">Improving Diffusion Planners by Self-Supervised Action Gating with Energies</a>
      <br>Yuan Lu, Dongqi Han, Yansen Wang, Dongsheng Li.
      <br>The Forty-third International Conference on Machine Learning <a>(ICML)</a>. 2026
    </li>
    <li><a href="https://openreview.net/forum?id=1rSqVUl7l3">Kuramoto Oscillatory Phase Encoding: Neuro-inspired Synchronization for Improved Learning Efficiency</a>
      <br>Mingqing Xiao, Yansen Wang, Dongqi Han, Caihua Shan, Dongsheng Li.
      <br>The Forty-third International Conference on Machine Learning <a>(ICML)</a>. 2026
    </li>
    <li><a href="https://openreview.net/forum?id=pAhGjPOlwy">Mitigating Plasticity Loss through Architectural Design in Continual Learning</a>
      <br>Niklas Koeppe, Luiz Felipe Vecchietti, Dongqi Han, Dongsheng Li, Sang Wan Lee.
      <br>The Forty-third International Conference on Machine Learning <a>(ICML)</a>. 2026
    </li>
    <li><a href="https://openreview.net/forum?id=fPX6A4us61">Stabilized Supralinear Networks Learn to Switch Coding Strategies Balancing Cost and Performance</a>
      <br>Haoyu Albert Wang, Wei P. Dai, Jialun Ma, Jiawei Zhang, Jinqi Liu, Mingchen Jiang, Mingqing Xiao, Yansen Wang, Dongqi Han, Dongsheng Li, Yuguo Yu.
      <br>The Forty-third International Conference on Machine Learning <a>(ICML)</a>. 2026
    </li>
  </ul>
</div>