<div class="tabcontent" style="display:block">
  <ul style="padding-left:10px">
    <li><a href="https://openreview.net/forum?id=MDWJlTWZHH">Toward Relative Positional Encoding in Spiking Transformers</a>
      <br>Changze Lv, Yansen Wang, Dongqi Han, Yifei Shen, Xiaoqing Zheng, Xuanjing Huang, Dongsheng Li.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025 (Spotlight)
    </li>
    <li><a href="https://openreview.net/forum?id=sbmYVM4zRr">Chain-of-Model Learning for Language Model</a>
      <br>Xiaohua Wang, Kaitao Song, Xu Tan, Huiqiang Jiang, Chengruidong Zhang, Yongliang Shen, Cen Lu, Zihao Li, Zifan Song, Caihua Shan, Yansen Wang, Kan Ren, Xiaoqing Zheng, Tao Qin, Yuqing Yang, Dongsheng Li, Lili Qiu.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025
    </li>
    <li><a href="https://openreview.net/forum?id=DBybUx7ARy">Accelerating Block Coordinate Descent for LLM Finetuning via Landscape Expansion</a>
      <br>Qijun Luo, Yifei Shen, Liangzu Peng, Dongsheng Li, Xiao Li.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025
    </li>
    <li><a href="https://openreview.net/forum?id=NQSWkmjODD">Learning to Instruct for Visual Instruction Tuning</a>
      <br>Zhihan Zhou, Feng Hong, Jiaan Luo, Yushi Ye, Jiangchao Yao, Dongsheng Li, Bo Han, Ya Zhang, Yanfeng Wang.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025
    </li>
    <li><a href="https://openreview.net/forum?id=IwjkwtkPGb">SimSort: A Data-Driven Framework for Spike Sorting by Large-Scale Electrophysiology Simulation</a>
      <br>Yimu Zhang, Dongqi Han, Yansen Wang, Zhenning Lv, Yu Gu, Dongsheng Li.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025
    </li>
    <li><a href="https://openreview.net/forum?id=qfP6IDxOrA">Omni-DNA: A Genomic Model Supporting Sequence Understanding, Long-context, and Textual Annotation</a>
      <br>Zehui Li, Vallijah Subasri, Yifei Shen, Dongsheng Li, Wentao Gu, Guy-Bart Stan, Yiren Zhao, Caihua Shan.
      <br>The Thirty-ninth Conference on Neural Information Processing Systems <a>(NeurIPS)</a>. 2025
    </li>
  </ul>
</div>